use_flake() {
  watch_file flake.nix
  watch_file flake.lock
  mkdir -p "$(direnv_layout_dir)"
  eval "$(nix --extra-experimental-features "nix-command flakes" print-dev-env --profile "$(direnv_layout_dir)/flake-profile")"
}

use_flake

RUST_VERSION=1.56.1
rustup toolchain install $RUST_VERSION
export PATH=$HOME/.rustup/toolchains/$(rustup toolchain list | grep --fixed-string $RUST_VERSION | head -n1)/bin:$PATH
